{
  "jsc": {
    "target": "es2022",
    "keepClassNames": true,
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["src/*"]
    }
  },
  "sourceMaps": "inline",
  "module": {
    "type": "es6",
    "importInterop": "node"
  }
}
